.row {
  text-align: center;
  border-bottom: 1px solid #AD974F;
  padding: 1em 0;
}

.product-img {
  height: 65px;
}

.delete-button {
  padding: 5px;
  border:none;
  margin:0;
  cursor: pointer;
  background-color: #AD974F;
  border-radius: 25px;
}

.delete-button:hover {
  background-color: #8E793E;
}
