<app-header></app-header>
  <form [formGroup]="loginForm" class="d-flex justify-content-center" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email-adres</label>
      <input type="email" formControlName="emailAddress" id="email" class="form-control">
      <label for="password">Wachtwoord</label>
      <input type="password" formControlName="password" id="password" class="form-control">
      <button type="submit" [disabled]="loggingIn">Log in</button>
      <p class="bg-warning" *ngIf="logInFailed">Email adres of wachtwoord is verkeerd</p>
    </div>
  </form>
