a {
  cursor: pointer;
}

li a:hover {
  background-color: #AD974F;
}

.logOut {
  border-left: 1px inset #231F20;
}

@media screen and (max-width: 992px) {
  .logOut {
    border-left: none;
  }

  nav {
    background-color: #EAEAEA;
    text-align: center;
    border-bottom: 1px solid #231F20;
  }

}
