.order-cont {
  margin-top: 2em;
  background-color: #EAEAEA;
}

.container {
  min-height: 80vh;
}

.line {
  border-bottom: 1px solid #AD974F;
}

button {
  background-color: #AD974F;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  border-color: #8E793E;
}

button:disabled {
  background-color: #AD974F !important;
  cursor: default;
  opacity: 0.5;
}

button:hover {
  background-color: #8E793E;
}
