.card {
  border-radius: 25px;
  border-color: #AD974F;
  height: 100%;
}

img {
  border-radius: 25px 25px 0 0;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px 5px #8E793E;
}

.card-body {
  border-top: 1px solid #AD974F;
  padding-top: 10px;
  color: #231F20;
  background-color: #EAEAEA;
  border-radius: 0 0 25px 25px;
}

.badge-info {
  background-color: #AD974F;
}
