<ngb-tabset type="pills" orientation="horizontal">
  <ngb-tab title="Product beheer">
    <ng-template ngbTabContent>
      <app-product-edit></app-product-edit>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Nieuw product">
    <ng-template ngbTabContent>
      <app-product-upload></app-product-upload>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Account beheer">
    <ng-template ngbTabContent>
      <app-account-edit></app-account-edit>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Nieuw account">
    <ng-template ngbTabContent>
      <app-account-add></app-account-add>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Geplaatste orders">
    <ng-template ngbTabContent>
      <app-placed-orders></app-placed-orders>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
