<button class="btn btn-primary" (click)="toggle()">FLoop</button>
<ul>
  <li>
    <a>
      <i class="material-icons">shop</i>
      Producten
    </a>
  </li>
  <li>
    <a>
      <i class="material-icons">storefront</i>
      Bestellingen
    </a>
  </li>
  <li>
    <a>
      <i class="material-icons">group</i>
      Accounts
    </a>
  </li>
</ul>

<!--<div [@collapseNavbar]="collapsed ? 'collapsed': 'expanded'" class="sidenav">-->
<!--  <a href="#">About</a>-->
<!--  <a href="#">Services</a>-->
<!--  <a href="#">Clients</a>-->
<!--  <a href="#">Contact</a>-->
<!--</div>-->
