main {
  min-height: 80vh;
}

button {
  background-color: #AD974F;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  border-color: #8E793E;
}

button:disabled {
  background-color: #AD974F !important;
  cursor: default;
  opacity: 0.5;
}

button:hover {
  background-color: #8E793E;
}

@media screen and (max-width: 992px) {
  main {
    text-align: center;
  }
  button {
    width: 80%;
  }
}
