.product {
  overflow-wrap: break-word;
  padding: 2em 0;
  min-height: 80vh;
}

.badge-info {
  font-size: 115%;
  background-color: #AD974F;
}

.product-container {
}

.info-container {
  height: 65%;
}

.plus, .minus {
  border-radius: 5px;
  background-color: #AD974F;
  border-color: #8E793E;
}

#watchQuantity {
  width: 10%;
}

button {
  background-color: #AD974F;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  border-color: #8E793E;
}

button:disabled {
  background-color: #AD974F !important;
  cursor: default;
  opacity: 0.5;
}

button:hover {
  background-color: #8E793E;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

@media screen and (max-width: 992px) {
  img {
    border: 1px solid #AD974F;
    border-radius: 20px;
  }

  .product {
    padding: 1em 1em 4em 1em;
  }

  .info-container {
    overflow: hidden;
  }

  #watchQuantity {
    width: 60%;
  }
}
