<app-header></app-header>
<div class="container product">
<div class="row">
  <div class="col-lg-6 d-flex align-items-center justify-content-center img-container">
    <img *ngIf="!isLoading" [src]="productImage" class="img-fluid">
  </div>
  <div class="col-lg-6 product-container">
    <div class="info-container">
      <h1>{{product.productName}}</h1>
      <h2>{{product.brand}}</h2>
      <span class="badge badge-info">{{product.price | currency: 'EUR'}}</span>
      <p>{{product.description}}</p>
    </div>
    <div class="buy-container">
      <hr>
        <div class="d-flex flex-row justify-content-center" *ngIf="!inCart">
          <input type="button" value="-" class="minus" (click)="minus()">
          <input type="number" name="quantity" [value]="amount" class="qty" id="watchQuantity" disabled="true">
          <input type="button" value="+" class="plus" (click)="plus()">
        </div>
      <small *ngIf="fullStock">U heeft het maximum aantal bestelbare exemplaren bereikt.</small>
      <br>
      <p *ngIf="!loggedIn">Log in om te bestellen.</p>
      <button (click)="addToCart()" *ngIf="loggedIn" [disabled]="inCart">
        <img src="../../assets/img/baseline_add_shopping_cart_black_48dp.png">
        Voeg toe aan winkelwagen
      </button>
    </div>
  </div>
</div>
</div>
