<div class="container">
  <div class="row">
    <div class="col-12 col-lg-11">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Klant ID</th>
          <th>Stad</th>
          <th>Bezorg datum</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orderList" class="product" (click)="showOrder(order)">
          <th>{{order.id}}</th>
          <th>{{order.accountId}}</th>
          <th>{{order.deliveryCity}}</th>
          <th>{{order.deliveryDate | date}}</th>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-1 pageControl d-flex flex-column justify-content-center pcSwap">
      <button (click)="swapPage(-1)" [disabled]="page === 1">
        <i class="material-icons">arrow_drop_up</i>
      </button>
      <br>
      <label>{{page}}/{{maxPages}}</label>
      <br>
      <button (click)="swapPage(1)" [disabled]="page === maxPages">
        <i class="material-icons">arrow_drop_down</i>
      </button>
    </div>
  </div>

  <div class="row d-flex flex-row justify-content-center mobileSwap">
    <div class="col-2">
      <button (click)="swapPage(-1)" [disabled]="page === 1">
        <i class="material-icons">arrow_left</i>
      </button>
    </div>
    <div class="col-2">
      <label>{{page}}/{{maxPages}}</label>
    </div>
    <div class="col-2">
      <button (click)="swapPage(1)" [disabled]="page === maxPages">
        <i class="material-icons">arrow_right</i>
      </button>
    </div>
  </div>

  <div class="row" *ngIf="shownOrder">
    <div class="col-lg-6">
      <h2>Order details</h2>
      <div class="form-group">
        <label for="id">Order id:</label>
        <div id="id" class="form-control">{{shownOrder.id}}</div>
      </div>
      <div class="form-group">
        <label for="city">Bezorg stad:</label>
        <div id="city" class="form-control">{{shownOrder.deliveryCity}}</div>
      </div>
      <div class="form-group">
        <label for="street">Bezorg straat:</label>
        <div id="street" class="form-control">{{shownOrder.deliveryAddress}}</div>
      </div>
      <div class="form-group">
        <label for="number">Bezorg huisnummer:</label>
        <div id="number" class="form-control">{{shownOrder.deliveryNumber}}</div>
      </div>
      <div class="form-group">
        <label for="date">Bezorg datum:</label>
        <div id="date" class="form-control">{{shownOrder.deliveryDate | date}}</div>
      </div>
    </div>
    <div class="col-lg-6">
      <h2>Producten</h2>
      <table>
        <thead>
        <tr>
          <th>Product id</th>
          <th>Product naam</th>
          <th>Aantal</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of shownOrder.items">
          <th>{{item.productId}}</th>
          <th>{{item.product.productName}}</th>
          <th>{{item.amount}}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
