.info {
  text-align: left;
  padding: 4vh 20vw;
  background-color: #EAEAEA;
  color: #231F20;
  height: 45vh;
}

.item-col {
  text-align: center;
  color: #EAEAEA;
}

.item-col img {
  max-height: 40vh;
  opacity: 0.7;
}

.img-wrapper {
  background-color: #231F20;
}

.card {
  border: none;
}

button {
  background-color: #AD974F;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  border-color: #8E793E;
}

button:disabled {
  background-color: #AD974F !important;
  cursor: default;
  opacity: 0.5;
}

button:hover {
  background-color: #8E793E;
}

button:focus {
  outline: none !important;
  border: 1px solid #8E793E;
  box-shadow: 0 0 10px #AD974F;
}

.col-lg-4 {
  padding: 0;
}

@media screen and (max-width: 992px) {
  .info {
    height: auto;
    text-align: center;
  }

  .info-text {
    display: none;
  }
}
