<div class="container-fluid">
  <div class="row info">
    <div class="col-12">
      <h3>{{companyName}}</h3>
      <p>
        Sinds 2019 is {{companyName}} bezig met het creëren van horloges. Al onze horloges worden met de hand gemaakt om de precisie van elke wijzerplaat te kunnen garanderen. Wij gebruiken slechts
        de beste metalen en edelstenen in onze horloges.
      </p>
      <p>{{companyName}} bestaat sinds 2019 en is gestart op een zolderkamer in Nederland. Sindsdien zijn wij uitgegroeid tot de grootste horloge fabrikant
        van Nederland en één van de grootste van Europa.
      </p>
      <ul>
        <li>Hoge kwaliteit horloges.</li>
        <li>Gratis verzending van alle producten.</li>
        <li>4 jaar garantie op alle producten.</li>
        <li>Klanterservice 24 uur per dag beschikbaar.</li>
      </ul>
      <q>Het horloge is meer dan een tijdwaarnemer. Het is een symbool van traditie en geschiedenis omhuld in een pronkstuk met uiterste vakmanschap.
        Het is gedetailleerde kunst van menselijke vindingrijkheid en creativiteit.
      </q>
      <br>
      <small>K. Lokwerk &#126; Oprichter van {{companyName}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 item-col">
      <div class="card">
        <div class="img-wrapper">
          <img src="../../../assets/img/alcadus-watch-co-1-unsplash.jpg" class="card-img">
        </div>
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h2>Heren horloges</h2>
          <p class="info-text">Hedendaagse designs en hoge kwaliteit is wat ons al sinds 2019 een van de beste aanbieders van heren horloges maakt.</p>
          <button (click)="toMensWatches()">Bekijk onze heren horloges</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 item-col">
      <div class="card">
        <div class="img-wrapper">
          <img src="../../../assets/img/watch-828848_640.jpg" class="card-img">
        </div>
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h2>Dames horloges</h2>
          <p class="info-text">Door het zorgvuldig gebruik van goud en diamanten zijn onze dames horloges altijd modieus en van hoge kwaliteit.</p>
          <button (click)="toLadiesWatches()">Bekijk onze dames horloges</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 item-col">
      <div class="card">
        <div class="img-wrapper">
          <img src="../../../assets/img/smart-watch.jpg" class="card-img">
        </div>
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h2>Smart watches</h2>
          <p class="info-text">De nieuwste revolutie in de horloge wereld. Wees modern en altijd online met een van onze smart watches.</p>
          <button (click)="toSmartWatches()">Bekijk onze smart watches</button>
        </div>
      </div>
    </div>
  </div>
</div>
