.img-wrapper {
  max-height: 100vh;
  background-color: #231F20;
}

.carousel-caption {
  color: #EAEAEA;
}

img {
  opacity: 0.7;
}

.arrow {
  opacity: 1;
  transform: scale(5);
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.arrow-cont:hover {
  filter: invert(1);
}

@media screen and (max-width: 992px) {
  .arrow-cont {
    display: none;
  }
}

